@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0 100px;
    background-color: #ffeae0;
}

/* ============================================== Navbar ========================================== */
.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.nav .logo {
    flex: 0.3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav .logo h1 {
    font-weight: 600;
    font-family: sans-serif;
    color: #000000;
    margin: 0;
    font-size: larger;
}

.nav .logo b {
    color: #ff511c;
}

.toggler {
    display: none;
    cursor: pointer;
}

.toggler span {
    display: block;
    width: 20px;
    height: 2px;
    background-color: #000000;
    margin-bottom: 5px;
}

.nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-right: 30px;
}

.nav-links li a {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    font-family: sans-serif;
    font-size: 17px;
}

.nav-links.show {
    display: block;
}

.nav-links .active::after {
    content: '';
    width: 70%;
    height: 3px;
    background-color: #ff511c;
    display: flex;
    position: relative;
    margin-left: 10px;
}

.auth {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input[type="submit"] {
    padding: 10px 20px;
    cursor: pointer;
    font-weight: 600;
    border: none;
    border-radius: 5px;
}

#signin {
    background: transparent;
    color: #000000;
}

#signup {
    background-color: #ff511c;
    color: #fff;
}

.container {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffeaef;
    padding: 20px;
    box-sizing: border-box;
}

.container form {
    width: 100%;
    max-width: 670px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
}

.container form h1 {
    color: #000;
    font-weight: 500;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
}

.container form input,
.container form textarea {
    width: 100%;
    max-width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    font-size: 15px;
    margin-bottom: 15px;
    background: none;
    border-bottom: 2px solid #ff511c;
    box-sizing: border-box;
}

.container form input::placeholder {
    color: #ddd;
}

.container form h4 {
    color: #000;
    font-weight: 300;
    width: 100%;
    margin-top: 20px;
    text-align: left;
}

.container form textarea {
    font-weight: 200;
    font-size: 15px;
    padding: 10px;
    outline: none;
    resize: vertical;
    min-height: 80px;
    max-height: 200px;
    box-sizing: border-box;
}

textarea::-webkit-scrollbar {
    width: 1em;
}

textarea::-webkit-scrollbar-thumb {
    background-color: rgba(194, 194, 194, 0.713);
}

.container form #button {
    border: none;
    background: #ff511c;
    color: #fff;
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;
    width: 100px;
    padding: 10px 0;
    margin-top: 20px;
    transition: 0.3s;
    align-self: flex-start;
}

.container form #button:hover {
    opacity: 0.5;
}

/* ================================================= Scroll Bar =================================== */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: #ff511c;
}


@media (max-width: 768px) {
    .toggler {
        display: block;
    }

    .nav-links {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #fff;
        padding: 20px;
        border-bottom: 1px solid #ccc;
    }

    .nav-links li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .auth {
        display: none;
    }
}

@media (max-width: 576px) {
    .nav {
        padding: 10px 0;
    }

    .nav-links {
        padding: 10px;
    }
}
