*,::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0 100px;    
    background-color: #ffeae0;
}

/* ============================================== MENU ========================================== */

.nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.nav .logo h1{
    font-weight: 600;
    font-family: sans-serif;
    color: #000000;
} 

.nav .logo b{
    color: #ff511c;
}

.nav ul{
    display: flex;
    list-style: none;
}

.nav ul li{
    margin-right: 30px;
}

.nav ul li a{
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    font-family: sans-serif;
    font-size: 17px;
}

/* ================================================ ACTIVE ========================================= */

.nav ul .active::after{
    content: '';
    width: 50%;
    height: 3px;
    background-color: #ff511c;
    display: flex;
    position: relative;
    margin-left: 10px;
}

input{
    padding: 10px 20px;
    cursor: pointer;
    font-weight: 600;
}

#signin{
    background: transparent;
    border: none;
}

#signup{
    background-color: #ff511c;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 5px;
}

/* ================================================ CONTENT ======================================= */

.content{
    display: grid;
    grid-template-columns: 50% auto;
    gap: 30px;
    margin-top: 120px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

/* =============================================== Left-Side ======================================= */

.content .content-left{
    display: block;
    width: 100%;
}

.content .content-left .info{
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

.content .content-left .info h2{
    font-size: 60px;
    font-family: sans-serif;
    margin-bottom: 30px;
}

.content .content-left .info p{
    font-size: 23px;
    margin-bottom: 30px;
    font-family: sans-serif;
}

/* ============================================ BUTTON ==================================== */

.content .content-left button{
    padding: 10px 23px;
    background-color: #ff511c;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

/* ========================================== Right-Side ======================================= */


.content .content-right{
    display: block;
    width: 100%;
}

.content .content-right img{
    width: 440px;
    height: auto;
    user-select: none;
    position: relative;
    bottom: 40px;
    animation: rotate 10s linear infinite;
    mix-blend-mode: multiply;
}


@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

/* =================================================== CARDS ================================ */

.category{
    width: 100%;
    display: flex;
    justify-content: center;
}

.category .list-items{
    width: 90%;
    position: relative;
    margin-top: 100px;
}


.category .list-items h3{
    font-size: 20px;
    font-weight: 600;
    font-family: sans-serif;
    margin-bottom: 70px;
}

.category .list-items .card-list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.category .card-list .card{
    width: 200px;
    height: auto;
    display: block;
    padding: 10px;
    position: relative;
    background: #ffffff;
    outline: 2px solid #faad96;

}

.category .card-list .card img{
    width: 110px;
    height: auto;
    bottom: 135px;
    left: 50px;
    object-fit: cover;
    object-position: center;
    background-repeat: no-repeat;
    position: absolute;
    border-radius: 50%;
    mix-blend-mode: multiply;
    filter: contrast(1.5);
}

.category .card-list .card .food-title{
    padding: 40px 0 10px;
}

.category .card-list .card .food-title h1{
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    font-family: sans-serif;
}

.category .card .desc-food p{
    font-size: 13px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 20px;
    font-family: sans-serif;
}

.category .card .price{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.category .card .price span{
    font-weight: 600;
    font-family: sans-serif;
}

.category .card .price span .plus-icon{
    color: #ff511c;
    font-size: 20px;
    cursor: pointer;
}

/* ================================================= Scroll Bar =================================== */

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb{
    border-radius: 20px;
    background-color: #ff511c;
}


/* ================================================= Category 2 =================================== */

.category2{
    width: 100%;
    display: flex;
    margin-bottom: 100px;
    justify-content: center;
}


.category2 .list-items{
    width: 90%;
    position: relative;
    margin-top: 100px;
}


.category2 .list-items h3{
    font-size: 20px;
    font-weight: 600;
    font-family: sans-serif;
    margin-bottom: 70px;
}

.category2 .list-items .card-list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.category2 .card-list .card{
    width: 200px;
    height: auto;
    display: block;
    padding: 10px;
    position: relative;
    background: #ffffff;
    outline: 2px solid #faad96;

}

.category2 .card-list .card img{
    width: 120px;
    height: auto;
    bottom: 140px;
    left: 45px;
    object-fit: cover;
    object-position: center;
    background-repeat: no-repeat;
    position: absolute;
    border-radius: 50%;
    mix-blend-mode: multiply;
    filter: contrast(1.5);
}

.category2 .card-list .card .food-title{
    padding: 40px 0 10px;
}

.category2 .card-list .card .food-title h1{
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    font-family: sans-serif;
}

.category2 .card .desc-food p{
    font-size: 13px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 20px;
    font-family: sans-serif;
}

.category2 .card .price{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.category2 .card .price span{
    font-weight: 600;
    font-family: sans-serif;
}

.category2 .card .price span .plus-icon{
    color: #ff511c;
    font-size: 20px;
    cursor: pointer;
}